<!--
  Partners section partial
	- Simple BEM structure: `.partners` block with nested `__*` elements
	- Contains a small responsive carousel driven by JS (module: js/carousel.js)
	- Images are expected to be portrait-style and will be cropped to 1:1 via CSS
	Note: This file is a partial meant to be included into the page.
-->

<section class="partners" id="partners">
  <div class="partners__inner container">
    <header class="partners__header">
      <!-- Header / title for the section -->
      <h2 class="partners__title">Brands</h2>
      <div class="partners__divider">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="3000px"
          height="31"
          style="width: 5%"
        >
          <path
            d="M0 15.5 L3000 15.5"
            style="fill: none; stroke: #bababa; stroke-width: 1px"
          ></path>
        </svg>
      </div>
      <p class="partners__subtitle">
        RYAN HAD GREAT PLEASURE OF WORKING WITH THE FOLLOWING BRANDS.
      </p>
    </header>

    <!-- Carousel wrapper: `data-carousel` is used by the JS module to initialize behavior -->
    <div class="partners__content">
      <div
        class="partners__carousel"
        data-carousel
        data-autoplay="true"
        data-autoplay-speed="4000"
        data-slides-mobile="1"
        data-slides-desktop="4"
      >
        <!-- Prev button: `data-carousel-prev` hooks to JS -->
        <button
          class="partners__arrow"
          type="button"
          data-carousel-prev
          aria-label="Previous slide"
        >
          <svg class="partners__arrow-icon is-prev" viewBox="0 0 30 30">
            <path
              d="M19.533 15l-9.1-9.45c-.577-.6-.577-1.5 0-2.1.578-.6 1.445-.6 2.023 0l10.11 10.5c.29.3.434.75.434 1.05 0 .45-.144.75-.433 1.05l-10.111 10.5c-.29.3-.578.45-1.012.45-.433 0-.722-.15-1.01-.45-.578-.6-.578-1.5 0-2.1l9.1-9.45z"
            ></path>
          </svg>
        </button>

        <div class="partners__viewport" data-carousel-viewport>
          <!-- Track holds slides. `data-carousel-track` is used by the JS to move items -->
          <div class="partners__track" data-carousel-track>
            <article class="partners__slide">
              <div class="partners__media">
                <img
                  src="img/partners/brand_1.png"
                  alt="Brand 1"
                  loading="lazy"
                />
              </div>
            </article>
            <article class="partners__slide">
              <div class="partners__media">
                <img
                  src="img/partners/brand_2.png"
                  alt="Brand 2"
                  loading="lazy"
                />
              </div>
            </article>
            <article class="partners__slide">
              <div class="partners__media">
                <img
                  src="img/partners/brand_3.png"
                  alt="Brand 3"
                  loading="lazy"
                />
              </div>
            </article>
            <article class="partners__slide">
              <div class="partners__media">
                <img
                  src="img/partners/brand_4.png"
                  alt="Brand 4"
                  loading="lazy"
                />
              </div>
            </article>
            <article class="partners__slide">
              <div class="partners__media">
                <img
                  src="img/partners/brand_5.png"
                  alt="Brand 5"
                  loading="lazy"
                />
              </div>
            </article>
          </div>
        </div>

        <!-- Next button: `data-carousel-next` hooks to JS -->
        <button
          class="partners__arrow"
          type="button"
          data-carousel-next
          aria-label="Next slide"
        >
          <svg class="partners__arrow-icon is-next" viewBox="0 0 30 30">
            <path
              d="M19.533 15l-9.1-9.45c-.577-.6-.577-1.5 0-2.1.578-.6 1.445-.6 2.023 0l10.11 10.5c.29.3.434.75.434 1.05 0 .45-.144.75-.433 1.05l-10.111 10.5c-.29.3-.578.45-1.012.45-.433 0-.722-.15-1.01-.45-.578-.6-.578-1.5 0-2.1l9.1-9.45z"
            ></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
